
    <ul><% @files.each do |file| %>
          <li>
            <a href="/<%= file %>"><%= file %></a>--<a href="/<%= file %>/edit">Edit</a>--<form class="inline" action="/<%= file %>/delete" method="post"><button type="submit">Delete</button></form>
          </li>
        <% end %>
    </ul>
<p><a href="/new">Add a new file</a></p>

<% if session[:username] %>
  <p class="user-status">Signed in as <%= session[:username] %><form class="inline" action="/users/signout" method="post"><button type="submit">Sign Out</button></form></p>
<% else %>
  <p><form class="inline" action="/users/signin" method="get"><button type="submit">Sign In</button></form></p>
<% end %>

