  <h1>Files</h1>
    <ul class="files"><% @files.each do |file| %>
          <li class="file">
            <a href="/<%= file %>"><%= file %></a>
            </form><form class="inline" action="/<%= file %>/edit" method="get"><button class="edit" type="submit">Edit</button></form>
            </form><form class="inline" action="/<%= file %>/duplicate" method="post"><button class="duplicate" type="submit">Duplicate</button></form>
            <form class="inline" action="/<%= file %>/delete" method="post"><button class="delete" type="submit">Delete</button></form>
          </li>
        <% end %>
    </ul>

<p><a href="/new">Add a new file</a></p>

  <h2>Images</h2>
    <ul class="images"><% @images.each do |image| %>
      <li class="image">
        <a href="<%= image %>"><%= image %></a>
        <form class="inline" action="/<%= image %>/delete_image" method="post"><button class="delete" type="submit">Delete</button></form>
      </li>
        <% end %>
    </ul>

<p><a href="/upload_image">Upload a new image</a></p>

<% if session[:username] %>
  <p class="user-status">Signed in as <%= session[:username] %><form class="inline" action="/users/signout" method="post"><button type="submit">Sign Out</button></form></p>
<% else %>
  <p>
    <form class="inline" action="/users/signin" method="get">
      <button type="submit">Sign In</button>
    </form>
    <form class="inline" action="/users/create" method="get">
      <button type="submit">Create an Account</button>
    </form>
  </p>
<% end %>

